<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCGYVIAsEgTmncN81GfNAuDMvWnl-bLPZw</string>
	<key>GCM_SENDER_ID</key>
	<string>817472392896</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.backcofferTask</string>
	<key>PROJECT_ID</key>
	<string>blackcoffertask-4c3eb</string>
	<key>STORAGE_BUCKET</key>
	<string>blackcoffertask-4c3eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:817472392896:ios:9dfa890072ebe3f09a6725</string>
</dict>
</plist>